/* Importações */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu');


* {
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 20px;
}


/* Variáveis de cores */
:root {
    --primary-color: #2C64C6;
    --secondary-color: #00CCE5;
    --tertiary-color: #FFFFFF;
    font-family: 'Ubuntu';
}

body {
    background: linear-gradient(180deg, #2C64C6 0%, rgba(0, 204, 229, 0.88) 100%);
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;

    background: #2C64C6 !important;
    color: var(--tertiary-color);
    padding: 50px 20px 50px 20px;


}

header h1 {
    width: 275px;
    color: #FFF;
    text-align: center;
    font-family: Ubuntu;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

header nav ul,
header nav ul p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px;
}

header nav ul li {
    text-align: center;
    margin: 0px 10px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

header nav ul li i {
    font-size: 35px;
    width: 30px;
    cursor: pointer;
}

.bi-house-door {
    color: var(--tertiary-color);
    width: 1000px;
}

a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header #search {
    text-align: center;
    border-radius: 25px;
    background: rgba(0, 204, 229, 0.88);
    color: var(--tertiary-color);
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}

#search::placeholder {
    background-image: url(/assets/img/search.png);
    background-repeat: no-repeat;
    background-position: 0.65rem 0.25rem;
    /* 12px / 16px = 0.75rem */
    background-size: auto 85%;
    color: #FFF;
}


main {

    margin: 20px;
    padding: 20px;

}

main .cadastroMapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

main .cadastroMapa .areaBotoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;


}

main .cadastroMapa #area,
main .cadastroMapa #topico {
    width: 700px;
    height: 50px;
    border-radius: 25px;
    background: rgba(0, 204, 229, 0.88);
    color: var(--tertiary-color);
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
    margin: 10px;


}




main .cadastroMapa .text-descricao textarea {
    width: 800px;
    height: 200px;
    border-radius: 25px;
    background: rgba(0, 204, 229, 0.88);
    color: var(--tertiary-color);
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#ia {

    width: 800px;
    border-radius: 25px;
    background: rgba(0, 204, 229, 0.88);
    color: var(--tertiary-color);
    font-size: 25px;
    font-weight: 700;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

main .cadastroMapa input {
    width: 800px;
    height: 45px;
    border-radius: 25px;
    background: rgba(0, 204, 229, 0.88);
    color: var(--tertiary-color);
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    margin: 10px;
}

main .cadastroMapa input::placeholder {
    color: var(--tertiary-color);

}





/* Estilos para inputs e botão em #paginaLogin */
button {
    border-radius: 25px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    width: 500px;
    height: 80px;
    flex-shrink: 0;
    text-align: center;
    margin-top: 43px;
    font-size: 25px;
}

@media screen and (max-width: 1024px) {

    main .cadastroMapa * {
        font-size: 15px;
    }

    main .cadastroMapa #area,
    main .cadastroMapa #topico {

        height: 50px;
        border-radius: 25px;
        background: rgba(0, 204, 229, 0.88);
        color: var(--tertiary-color);
        font-size: 15px;
        font-weight: 700;
        padding: 10px;
        margin-bottom: 20px;

    }



    main .cadastroMapa .areaBotoes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }





    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 20px 10px 20px;

    }

    header nav ul li i {
        font-size: 15px;
    }

    header nav ul li {
        margin-top: 5px;
        font-size: 10px;
    }

    header h1 {
        font-size: 20px;
    }


    #search {
        width: 300px;
        height: 20px;
        margin-top: 10px;
        font-size: 21px;
        font-weight: 700;
        padding: 5px;
    }

    #search::placeholder {

        font-size: 15px;

    }

    main .area-cards {
        display: flex;
        flex-wrap: wrap;
        align-self: flex-start;
        justify-content: space-evenly;
        align-items: center;

    }




}

@media screen and (max-width: 768px) {

    header {
        width: 100%;
    }

    main .area-cards {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    main .cadastroMapa #area,
    main .cadastroMapa #topico {
        width: 400px;
        height: 40px;

        font-size: 15px;

        padding: 10px;
        margin: 10px;


    }

    main .cadastroMapa input {
        width: 400px;
        height: 40px;

        font-size: 15px;

        padding: 10px;
        margin: 10px;
    }





}

@media screen and (max-width: 600px) {

    body {
        width: 100vw;
    }

    header nav ul li i {
        font-size: 10px;
    }

    
    header nav ul li p{
        font-size: 10px;
    }

    header nav ul li {
        margin-top: 5px;
        font-size: 10px;
    }

    main .area-cards {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }


    main .cadastroMapa #ia {
        width: 400px;
        height: 30px;

        font-size: 10px;

        padding: 10px;
        margin: 10px;
    }

    main .cadastroMapa .text-descricao textarea {
        width: 400px;
        font-size: 15px;

    }

    main .cadastroMapa .text-descricao textarea::placeholder {
        font-size: 15px;

    }



}